{% extends 'p1.html' %}
{%block title%} Favorite youtube channels{% endblock title%}
{% block body %}
<div class="container-fluid">
<h1 style="align-content: center;color: aliceblue;font-weight: 900;text-decoration: underline;">Coding</h1>
<div class="row mb-2" style="color: antiquewhite;">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Coding Channel</strong>
          <h3 class="mb-0">CodeWithHarry</h3>
          <br>
          <p class="card-text mb-auto">Code With Harry is my attempt to teach basics and those coding techniques to people in short time which took me ages to learn. </p>
          <a href="https://www.youtube.com/c/CodeWithHarry" class="stretched-link" target="_blank"><button type="button" class="btn btn-secondary">Visit >></button></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>><img src="https://yt3.ggpht.com/ytc/AAUvwnjeHnMHZ7T341QLHqPhQPfsG6ugvg_SV6z6FkYqGw=s88-c-k-c0x00ffffff-no-rj" height="280" width="220"></rect></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
         <strong class="d-inline-block mb-2 text-primary">Coding Channel</strong>
          <h3 class="mb-0">thenewboston</h3>
          <br>
          <p class="mb-auto">Tons of sweet computer related tutorials and some other awesome videos too!</p>
          <a href="https://www.youtube.com/user/thenewboston" class="stretched-link" target="_blank"><button type="button" class="btn btn-secondary" >Visit >></button></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img src="https://yt3.ggpht.com/ytc/AAUvwnglVjQeNSAVO9GgKkrjIbCO_y0rOx7Yxx-2bv9r_A=s88-c-k-c0x00ffffff-no-rj" height="280" width="220"></svg>

        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2" style="color: beige;">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
         <strong class="d-inline-block mb-2 text-primary">Coding Channel</strong>
          <h3 class="mb-0">CodeBeauty</h3>
          <br>
          <p class="card-text mb-auto">These videos are intended to help you to get a job, learn for your exams, learn to program for fun, and answer your questions about software engineering.</p>
          <a href="https://www.youtube.com/channel/UCl5-BV9aRaeDVohpE4sqJiQ" class="stretched-link" target="_blank"><button type="button" class="btn btn-secondary">Visit >></button></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img src="https://yt3.ggpht.com/ytc/AAUvwngsn0idoQRpRj97-O-fxSeQs4v0eq_Yxj_U7IgK=s88-c-k-c0x00ffffff-no-rj" height="280" width="220"></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
         <strong class="d-inline-block mb-2 text-primary">Coding Channel</strong>
          <h3 class="mb-0">CS50</h3>
          <p class="mb-auto">This is CS50, Harvard University's introduction to the intellectual enterprises of computer science and the art of programming. Demanding, but definitely doable. Social, but educational.</p>
          <a href="https://www.youtube.com/channel/UCcabW7890RKJzL968QWEykA" class="stretched-link" target="_blank"><button type="button" class="btn btn-secondary">Visit >></button></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img src="https://yt3.ggpht.com/ytc/AAUvwnjo89LMRtwUAmOGuunMTbJTrIDby7FWPECLm799hA=s88-c-k-c0x00ffffff-no-rj" height="280" width="220"></svg>

        </div>
      </div>
    </div>
  </div>
<h1 style="align-content: center;color: aliceblue;font-weight: 900;text-decoration: underline;">Music Channels </h1>
<div class="row mb-2" style="color: antiquewhite;">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Music</strong>
          <h3 class="mb-0">TWICE</h3>
          <br>
          <p class="card-text mb-auto">TWICE Official YouTube Channel</p>
          <a href="https://www.youtube.com/channel/UCzgxx_DM2Dcb9Y1spb9mUJA" class="stretched-link" target="_blank"><button type="button" class="btn btn-secondary">Visit >></button></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>><img src="https://yt3.ggpht.com/ytc/AAUvwniQeRZ0nYa3sALzVapbZR8l6YlDnFQFc_juCgmO9w=s88-c-k-c0x00ffffff-no-rj" height="250" width="220"></rect></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
         <strong class="d-inline-block mb-2 text-primary">Music</strong>
          <h3 class="mb-0">BLACKPINK</h3>
          <br>
          <p class="mb-auto">BLACKPINK Official YouTube Channel 블랙핑크 공식 유튜브 채널입니다.</p>
          <a href="https://www.youtube.com/channel/UCOmHUn--16B90oW2L6FRR3A" class="stretched-link" target="_blank"><button type="button" class="btn btn-secondary" >Visit >></button></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img src="https://imagevars.gulfnews.com/2020/04/26/TAB-BlackPink-1-1587882063811_171b52577c6_original-ratio.jpg" height="250" width="220"></svg>

        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2" style="color: beige;">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
         <strong class="d-inline-block mb-2 text-primary">Music</strong>
          <h3 class="mb-0">BTS</h3>
          <br>
          <p class="card-text mb-auto">방탄소년단 공식 유튜브 채널 입니다.This is the Official YouTube channel for BTS.</p>
          <a href="https://www.youtube.com/user/BANGTANTV/featured" class="stretched-link" target="_blank"><button type="button" class="btn btn-secondary">Visit >></button></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img src="https://yt3.ggpht.com/ytc/AAUvwnio9PVIu68Qr9VHKknPiI1oUbW2qC6BMmWf4HkJAA=s88-c-k-c0x00ffffff-no-rj" height="250" width="220"></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
         <strong class="d-inline-block mb-2 text-primary">Music</strong>
          <h3 class="mb-0">TWICE Japanese</h3> 
          <br>
          <p class="mb-auto">TWICE JAPAN OFFICIAL YouTube Channel.</p>
          <a href="https://www.youtube.com/c/twicejapan_official/featured" class="stretched-link" target="_blank"><button type="button" class="btn btn-secondary">Visit >></button></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img src="https://kpopthing.com/wp-content/uploads/2020/06/TWICE-2.jpg" height="250" width="300"></svg>

        </div>
      </div>
    </div>
  </div>
<h1 style="align-content: center;color: aliceblue;font-weight: 900;text-decoration: underline;">Love India</h1>
<div class="row mb-2" style="color: antiquewhite;">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Japanese Youtuber</strong>
          <h3 class="mb-0">Namaste Kohei</h3>
          <br>
          <p class="mb-auto">Japanese YouTuber who loves India, Indian culture and Hindi language!!</p>
          <a href="https://www.youtube.com/channel/UCoFiap7J9HtmcILlLESpW2g" class="stretched-link" target="_blank"><button type="button" class="btn btn-secondary">Visit >></button></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>><img src="https://yt3.ggpht.com/ytc/AAUvwni_1nPos0cRpLGOAb5xy3L0v3HUDKZdtlZJZu3__g=s88-c-k-c0x00ffffff-no-rj" height="250" width="220"></rect></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
         <strong class="d-inline-block mb-2 text-primary">Japanese Youtuber</strong>
          <h3 class="mb-0">मायो जापान Mayo Japan</h3>
          <br>
          <p class="mb-auto">Hey!Welcome to my channel!My name is Mayo!In this channel, I will introduce Japanese culture and Japanese language in Hindi..</p>
          <a href="https://www.youtube.com/channel/UCBjmXe4le5EH7gKrq2UswAQ" class="stretched-link" target="_blank"><button type="button" class="btn btn-secondary" >Visit >></button></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img src="https://yt3.ggpht.com/ytc/AAUvwni6G8puKE4QqDD-mcouZyqcVOUXAPcptuB6iE-VBg=s88-c-k-c0x00ffffff-no-rj" height="290" width="220"></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
         <strong class="d-inline-block mb-2 text-primary">Vasudhaiva Kutumbakam</strong>
          <h3 class="mb-0">India in Detail</h3>
          <br>
          <p class="mb-auto">Hi, I am Karolina Goswami. A few years ago, I left a promising career to start a social media channel because I wanted to challenge the common media stereotypes of India. I was not afraid, because I wanted to represent all that is ethical and moral.</p>
          <a href="https://www.youtube.com/c/IndiaInDetails/featured" class="stretched-link" target="_blank"><button type="button" class="btn btn-secondary" >Visit >></button></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img src="https://yt3.ggpht.com/ytc/AAUvwnho42-2j7m4AAWHs2QlABohlipOTZWuNz-sS6kr=s88-c-k-c0x00ffffff-no-rj" height="350" width="250"></svg>
        </div>
      </div>
    </div>
  </div>
<h1 style="align-content: center;color: aliceblue;font-weight: 900;text-decoration: underline;">Informative channel</h1>
<div class="row mb-2" style="color: antiquewhite;">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Education</strong>
          <h3 class="mb-0">Study-IQ</h3>
          <br>
          <p class="mb-auto">Study-IQ Education is an education platform trusted by millions across the globe. With over 80 million views per month and 90 lakh subscribers it is the most watched education channel in the World.</p>
          <a href="https://www.youtube.com/channel/UCrC8mOqJQpoB7NuIMKIS6rQ" class="stretched-link" target="_blank"><button type="button" class="btn btn-secondary">Visit >></button></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>><img src="https://yt3.ggpht.com/ytc/AAUvwniZpWilkjcTtBnLl7yoqJifc9BTCdesw-82jkQHZw=s88-c-k-c0x00ffffff-no-rj" height="320" width="260"></rect></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
         <strong class="d-inline-block mb-2 text-primary">Education</strong>
          <h3 class="mb-0">World Affairs </h3>
          <br>
          <p class="mb-auto">Welcome to the World Affairs YouTube channel from Unacademy.This platform is the one-stop solution that gives you the best insight on how to prepare various topics on Current Affairs for competitive exams.</p>
          <a href="https://www.youtube.com/channel/UCCJsQKOKArvDksacfT2ryQw" class="stretched-link" target="_blank"><button type="button" class="btn btn-secondary" >Visit >></button></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img src="https://yt3.ggpht.com/ytc/AAUvwnhwxVk97ElKYTd9_aOq7mbqoVCInZ11qPHhWaWR=s88-c-k-c0x00ffffff-no-rj" height="320" width="220"></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
         <strong class="d-inline-block mb-2 text-primary">Education</strong>
          <h3 class="mb-0">Abhi and Niyu</h3>
          <br>
          <p class="mb-auto">We are here to tell you stories about the REAL INDIA that the mainstream media ignores. We are here to share solutions. We are here to make YOU INDIA POSITIVE!</p>
          <a href="https://www.youtube.com/channel/UCsDTy8jvHcwMvSZf_JGi-FA" class="stretched-link" target="_blank"><button type="button" class="btn btn-secondary" >Visit >></button></a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img src="https://yt3.ggpht.com/ytc/AAUvwngCeS3Ungr7K0sBY235LuTja-FygGaK9oEk1hUu=s88-c-k-c0x00ffffff-no-rj" height="320" width="250"></svg>

        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock body%}







